/* @tailwind base; */

/* @tailwind components; */

.-m-0 {
  margin: 0px
}

.-my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.-ml-auto {
  margin-left: auto
}

.-ml-3 {
  margin-left: 0.75rem
}

.-ml-2 {
  margin-left: 0.5rem
}

.-mb-8 {
  margin-bottom: 2rem
}

.-mt-auto {
  margin-top: auto
}

.-mb-5 {
  margin-bottom: 1.25rem
}

.-mb-4 {
  margin-bottom: 1rem
}

.-mt-10 {
  margin-top: 2.5rem
}

.-flex {
  display: flex
}

.-h-4 {
  height: 1rem
}

.-w-min {
  width: -moz-min-content;
  width: min-content
}

.-w-12 {
  width: 3rem
}

.-break-normal {
  overflow-wrap: normal;
  word-break: normal
}

.-p-4 {
  padding: 1rem
}

.-p-2 {
  padding: 0.5rem
}

.-p-3 {
  padding: 0.75rem
}

.-text-left {
  text-align: left
}

.-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.-text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.-text-8xl {
  font-size: 6rem;
  line-height: 1
}

.-font-semibold {
  font-weight: 600
}

.-font-thin {
  font-weight: 100
}

.-font-normal {
  font-weight: 400
}

.-font-medium {
  font-weight: 500
}
