/* @tailwind base; */

/* @tailwind components; */

.-absolute {
  position: absolute
}

.-relative {
  position: relative
}

.-left-10 {
  left: 2.5rem
}

.-right-10 {
  right: 2.5rem
}

.-right-2 {
  right: 0.5rem
}

.-top-2 {
  top: 0.5rem
}

.-m-0 {
  margin: 0px
}

.-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.-my-0 {
  margin-top: 0px;
  margin-bottom: 0px
}

.-my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.-mb-0 {
  margin-bottom: 0px
}

.-mb-4 {
  margin-bottom: 1rem
}

.-mb-auto {
  margin-bottom: auto
}

.-ml-1 {
  margin-left: 0.25rem
}

.-ml-2 {
  margin-left: 0.5rem
}

.-ml-auto {
  margin-left: auto
}

.-mt-0 {
  margin-top: 0px
}

.-mt-1 {
  margin-top: 0.25rem
}

.-mt-10 {
  margin-top: 2.5rem
}

.-mt-16 {
  margin-top: 4rem
}

.-mt-2 {
  margin-top: 0.5rem
}

.-mt-20 {
  margin-top: 5rem
}

.-mt-4 {
  margin-top: 1rem
}

.-mt-6 {
  margin-top: 1.5rem
}

.-mt-8 {
  margin-top: 2rem
}

.-mt-auto {
  margin-top: auto
}

.-block {
  display: block
}

.-flex {
  display: flex
}

.-w-72 {
  width: 18rem
}

.-w-min {
  width: -moz-min-content;
  width: min-content
}

.-flex-grow {
  flex-grow: 1
}

.-flex-col {
  flex-direction: column
}

.-flex-wrap {
  flex-wrap: wrap
}

.-justify-end {
  justify-content: flex-end
}

.-gap-2 {
  gap: 0.5rem
}

.-break-normal {
  overflow-wrap: normal;
  word-break: normal
}

.-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.-p-1 {
  padding: 0.25rem
}

.-p-2 {
  padding: 0.5rem
}

.-p-3 {
  padding: 0.75rem
}

.-p-4 {
  padding: 1rem
}

.-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.-text-left {
  text-align: left
}

.-text-right {
  text-align: right
}

.-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.-font-bold {
  font-weight: 700
}

.-font-medium {
  font-weight: 500
}

.-font-normal {
  font-weight: 400
}

.-font-semibold {
  font-weight: 600
}

.-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.-opacity-70 {
  opacity: 0.7
}

.-opacity-90 {
  opacity: 0.9
}

@media (min-width: 768px) {
  .md\:-mb-4 {
    margin-bottom: 1rem
  }

  .md\:-mr-0 {
    margin-right: 0px
  }

  .md\:-p-3 {
    padding: 0.75rem
  }

  .md\:-p-4 {
    padding: 1rem
  }

  .md\:-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }
}

@media (min-width: 1024px) {
  .lg\:-text-8xl {
    font-size: 6rem;
    line-height: 1
  }
}
