$primaryColor: #222;
$primaryDarkColor: #111;
$primaryDarkerColor: #000;
$primaryTextColor: #ffffff;
$secondaryColor: #950101;
$secondaryTextColor: #fff;

$secondaryDarkColor: #3d0000;

.bg-secondary {
  background-color: $secondaryColor;
  color: $secondaryTextColor;
}

.bg-dark-secondary {
  background-color: $secondaryDarkColor;
}

.color-secondary {
  color: $secondaryColor;
}

.p-card {
  background-color: $secondaryColor;
  color: $secondaryTextColor;
}

.p-inputtext {
  background-color: $primaryDarkerColor;
  color: $secondaryTextColor;

  border: 1px solid $primaryColor;
}