$primaryColor: #000 !default;
$primaryLightColor: #111 !default;
$primaryLighterColor: #222 !default;
$primaryLightestColor: rgba(#4d1a19, 0.2) !default;
$primaryTextColor: #fff !default;

$overlayContentBg: #3d0000;

$highlightBg:rgba(51, 51, 51, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import './_variables';
@import './_fonts';
@import './base/_components';
@import './_extensions';